.container{
    height: 130px;
}
.flex-start{
    align-items: flex-start;
}
.center{
    align-items: center;
}
/* Esticar para preencher toda altura do container */
.strecth{
    align-items: stretch;
}
/*  */
.baseline{
    align-items: baseline;
}
.baseline .item{
    flex: 1;
}
.baseline .item:first-child{
    padding-top: 20px;
}