.flex-0{
    /* flex-grow, flex-shrink, flex-basis */
    flex: 0;
}
.flex-1{
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}
/* valor 1 o elemento filho ocupa todo o elemento pai
0 não ocupa todo elemento */
.flex{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
}

.item.item3
{
    order: 1;
}

/* O Order so muda visualmente , o html fica intacto */

.align-self .item5{
    align-self: auto;
}

.align-self.start .item3{
    align-self: flex-start;
}

.align-self.end .item3{
    align-self: flex-end;
}

.align-self.center .item3{
    align-self: center;
}
.align-self.stretch .item3{
    align-self: stretch;
}
