div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}



.sem-border-box{
    background-color: brown;
}

/* largura +  padding + padding 
+ border + border = largura total do elemento */
/* Utiliza-se o box-sizing para ignorar o border e padding para largura total */